*{
  margin: 0;
  padding: 0;
}
.container{
max-width:1920px;
margin 0;
background:#f9f9f9;
font-size: 24px;
padding: 25px;
}
.parallax{
background: url(assets/background.jpg) no-repeat center;
    background-attachment:fixed;
    height: 500px;
    background-size:cover;
}
.container2{
max-width:1920px;
margin 0;
background:#f9f9f9;
font-size: 24px;
padding: 25px;
}
.parallax2{
background: url(assets/smoke.jpg) no-repeat center;
    background-attachment:fixed;
    height: 500px;
    background-size:cover;
}

.img1{
margin-top: 15px;
margin-left: -20px;
}

.menu-bar
{
    height: 80px;
    background: rgb(0,0,0);
    text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    list-style:none;
    color: white;
}
.menu-bar ul li
{
    width: 240px;
    margin: 15px;
    padding: 10px;
}
.menu-bar ul li a
{
text-decoration: none;
color: #fff;
}

.active, .menu-bar ul li:hover
{
    background: #c82270;
    border-radius: 25px;
}
.active1, .menu-bar ul li:hover
{
    font-size: 27px;
    background: #c82270;
    border-radius: 25px;
}
